{% capture srcset %}
{% for i in resized %}
    {{ site.baseurl }}/{{ i.path }} {{ i.width }}w,
{% endfor %}
{% endcapture %}

{%- assign largest = resized | last -%}

<article class="slide">
    {% if description and description != "" %}
        {% if position and position != "" %}
        <div class="slideStory {{ position }}">
        {% else %}
        <div class="slideStory top left">
        {% endif %}
            <p class="storyTitle">{{ title }}</p>
            <p class="storyDescription">{{ description }}</p>
        </div>
    {% else %}
        {% if title and title != "" %}
            {% if position and position != "" %}
            <p class="slideTitle {{ position }}">{{ title }}</p>
            {% else %}
            <p class="slideTitle top left">{{ title }}</p>
            {% endif %}
        {% endif %}
    {% endif %}
    <img class="slideImage" src="{{ site.baseurl }}/{{ largest.path }}" alt="{{ alt }}" srcset="{{ srcset | strip_newlines }}">
</article>